* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.website-name {
    color: black;
    margin-bottom: 10px;
    text-align: center;
}

.slogan {
    color: black;
    margin-bottom: 30px;
    text-align: center;
}

.container {
    width: 100%;
    max-width: 400px;
    padding: 40px;
    margin-top: 40px;
    background: white;
    border-radius: 15px; /* Curved corners */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
}

.form {
    display: flex;
    flex-direction: column;
}

h2 {
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

input {
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 10px; /* Curved corners for inputs */
    transition: border-color 0.3s;
    width: 100%;
}

input:focus {
    border-color: #6a11cb; /* Focus color */
    outline: none;
}

button {
    padding: 12px;
    margin: 10px 0px;
    background-color: #6a11cb; /* Button color */
    color: white;
    border: none;
    border-radius: 10px; /* Curved corners for button */
    cursor: pointer;
    transition: background-color 0.3s;
    display: block;
}

button:hover {
    background-color: #7d0ff1; /* Button hover color */
}

.text {
    text-align: center;
    margin-top: 15px;
}

.text a {
    color: #6a11cb; /* Link color */
    text-decoration: none;
}

.text a:hover {
    text-decoration: underline; /* Underline on hover */
}

/* Responsive Styles */
@media (max-width: 600px) {
    .container {
        padding: 20px;
    }

    h2 {
        font-size: 24px;
    }

    input, button {
        padding: 10px;
    }
}
